.card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  img {
    object-fit: cover;
    height: 200px;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    background-color: #f5f5f5;

    .card-body {
      color: #212529;
    }
  }
}
