body {
  background-color: #0d0d0d; // negro casi puro
  color: #ffffff;
}

header {
  background-color: #111;
  a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #ffc107; // amarillo suave (Bootstrap warning)
    }
  }
}

footer {
  background-color: #111;
  color: #ffffff;
}


